[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gspread = "*"
google-auth = "*"
python-dotenv = "*"
slack-sdk = "*"
aiohttp = "*"
aiodns = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.8"
